{% extends 'base.html' %}
{% block content %}
{% load static %}



<h1  style="text-decoration: none;">Job Application List</h1> 
        

<!-- Only Update dashboard is not working on mobile devices -->
<div class="search-container">
    <form method="GET" action="/jobs/">
        <input name="job_category" id="search" type="search" placeholder="Start typing to filter..." autocomplete="off">
        <i class="fas fa-search search-icon"></i> 
    </form>
</div>
    
    <style>
        @media only screen and (max-width: 768px) {
        .no-jobs-message {
            display: none;
        }
        .cta-button1{
            display: none;
        }
        }
    </style>
    
        <table id="jobTable" style="margin-top: 0px !important; border-radius: 10px; margin-left: 30px;">
            {% if jobs|length == 0 %}
                <div class="no-jobs-message">
                    <p>No application is added.</p>
                </div>
                <div class="cta-container">
                    <a href="{% url 'job_create' %}" class="cta-button">Add Application</a>
                </div>
            {% else %}
            <tr>
                <th>Job Category</th>
                <th>Job Level</th>
                <th>Company Name</th>
                <!-- <th>Company Email</th>  -->
                {% if not all_emails_empty %}
                    <th>Company Email</th> <!-- Conditionally show the Company Email column -->
                {% endif %}
                <th>Reference Link</th>
                <th>Employment Type</th>
                <th>Application Status</th>
                <!-- If data occurs then it is display else heading remove  -->
                {% if not all_dates_empty %}
                    <th>Interview Date</th>
                {% endif %}
                <th>Actions</th>
            </tr>
            {% for job in jobs %}
            <tr>
                <td>{{ job.job_category }}</td>
                <td>{{ job.job_level }}</td>
                <td>{{ job.company_name }}</td>
                {% if not all_emails_empty %}
                    <td>
                        {% if job.company_email %}
                            {{ job.company_email }}
                        {% endif %}
                    </td>
                {% endif %}
                <td><a href="{{ job.reference_link }}" style="width: 150px !important; color: blue">{{ job.reference_link }}</a></td>
                <td>{{ job.employment_type }}</td>
                <td>{{ job.application_status }}</td>
                {% if not all_dates_empty %}
                <td>
                    {% if job.interview_date %}
                        {{ job.interview_date }}
                        {% endif %}
                    </td>
                {% endif %}
                    <td>
                    <a href="{% url 'job_update' job.id %}" title="Edit" class="btn" style="display:inline; font-size: 1.2rem !important; color: #ffc00c; width: 20px !important; padding: 0px !important;"> 
                        <i class="fa fa-pencil"></i>
                    </a>
                    
                    <!-- Redirect to the confirmation page -->
                    <a href="{% url 'job_delete_confirmation' job.id %}" class="btn btn-delete" style="background-color: red;">
                        <i class="fa fa-trash" style="padding: 8px 15px; color: red;"></i>
                    </a>
                    
                    <!-- font-size:1.2rem !important;  -->
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
        
        <div id="jobCards" style="display: flex; flex-direction: row; flex-wrap: wrap;">
            {% if jobs|length == 0 %}
            <div class="no-jobs-message-other">
                <p>No application is added.</p>
            </div>
            <div class="cta-container">
                <a href="{% url 'job_create' %}" class="cta-button1">Add Application</a>
            </div>
            {% else %}
            

            {% for job in jobs %}
            <div class="job-card">
                    <div class="job-item">
                        <label>Job Category:</label>
                        <span>{{ job.job_category }}</span>
                    </div>
                    <div class="job-item">
                        <label>Job Level:</label>
                        <span>{{ job.job_level }}</span>
                    </div>
                    <div class="job-item">
                        <label>Company Name:</label>
                        <span>{{ job.company_name }}</span>
                    </div>
                    
                    {% if not all_emails_empty %}
                        <!-- Only display this block if there are some emails in the job list -->
                        {% if job.company_email %}
                            <div class="job-item">
                                <label>Company Email:</label>
                                <span>{{ job.company_email }}</span>
                            </div>
                        {% endif %}
                    {% endif %}
                    

                    <div class="job-item">
                        <label>Reference Link:</label>
                        <span><a href="{{ job.reference_link }}" style="display: inline-block; width: 180px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: blue;">{{ job.reference_link }}</a></span>
                    </div>
                    <div class="job-item">
                        <label>Employment Type:</label>
                        <span>{{ job.employment_type }}</span>
                    </div>
                    <div class="job-item">
                        <label>Application Status:</label>
                        <span>{{ job.application_status }}</span>
                    </div>
                    
                    {% if job.interview_date %}
                    <div class="job-item">
                        <label>Interview Date:</label>
                        <span>{{ job.interview_date | date:"Y-m-d" }}</span>
                    </div>
                    {% endif %}
                    
    <!-- -------------------------------------------------------------------------------------------------------------- -->
                    <div class="actions">
                        <a href="{% url 'job_update' job.id %}" class="btn btn-edit" style="text-decoration: underline; font-size: 1.2rem !important; padding: 8px 15px;">✏️</a>
                        
                        <!-- Redirect to the confirmation page -->
                        <a href="{% url 'job_delete_confirmation' job.id %}" class="btn btn-delete" style="background-color: red;">
                            <i class="fa fa-trash-o" style="font-size:1.2rem !important; padding: 8px 15px;"></i>
                        </a>
                    </div>
    <!---------------------------------------------------------------------------------------------------------------- -->
            </div>

                    
            {% endfor %}
            {% endif %}
            </div>
        </div>

        <script>
            // Show the confirmation dialog
            function confirmDelete(event, jobId) {
                event.preventDefault(); // Prevent immediate form submission
                // Show the warning message
                document.getElementById('delete-warning' + jobId).style.display = 'block';
            }
        
            // Submit the form to delete the job when the user confirms
            function confirmDeletion(jobId) {
                document.getElementById('deleteForm' + jobId).submit(); // Submit the form for deletion
            }
        
            // Hide the warning message if the user cancels
            function cancelDeletion(jobId) {
                document.getElementById('delete-warning' + jobId).style.display = 'none';
            }
        </script>
        
        <!-- CSS for the confirmation message -->
        <style>
            .delete-warning {
                background-color: #ffeb3b;
                color: #721c24;
                padding: 15px;
                border-radius: 8px;
                margin-top: 20px;
                text-align: center;
                font-weight: bold;
                font-size: 1rem;
                border: 2px solid #721c24;
            }
        
            .delete-warning p {
                margin: 10px 0;
            }
        
            .confirm-btn {
                background-color: #4e9b5f;
                color: white;
                padding: 10px 20px;
                font-size: 1rem;
                border-radius: 5px;
                margin: 5px;
                cursor: pointer;
            }
        
            .confirm-btn:hover {
                background-color: #388e3c;
            }
        
            .cancel-btn {
                background-color: #f44336;
                color: white;
                padding: 10px 20px;
                font-size: 1rem;
                border-radius: 5px;
                margin: 5px;
                cursor: pointer;
            }
        
            .cancel-btn:hover {
                background-color: #d32f2f;
            }
        </style>

    </div>
    {% endblock %}
